body {
   font-family: Arial, Helvetica, sans-serif;
}

.step_progressbar {
   display: block;
   width: 500px;
   margin: 100px auto;
   background-color: #fafafa;
   
}
ul {
   display: flex;
   list-style: none;
   align-items: center;
   justify-content: space-between;
   counter-reset: step;
}
li {
   display: inline-block;
   position: relative;
   width: 33.33%;
   text-align: center;
   margin: 15px 0 ;
   
}
li:before {
   content: counter(step);
   counter-increment: step;
   display: block;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   background-color: #bdbdbd;
   line-height: 50px;
   text-align: center;
   margin: 10px auto;
   position: relative;
   z-index: 2;
}
li.active {
   color: green;
   
}
li:after {
   content: '';
   width: 100%;
   height: 3px;
   background-color: #bdbdbd;
   position: absolute;
   top: 35px;
   left: -50%;

}
li:first-child::after {
   content: none;

}

li.active + li::after {
   background-color: green;
   
}

li.active:before {
   background-color: green;
   color: #ffffff;
}

/* #stepProgressBar {
   display: flex;
   justify-content:  space-between;
   align-items:  flex-end;
   list-style: none;
   width: 800px;
   margin: 0 auto;
}
li {
   border: 1px solid red;
} */