.card-carousel {
   position: relative;
   min-height: 266px;
   background: #C3DAFF;
   padding: 50px;
}

.carousel-indicators {
   position: absolute;
   bottom: -50px;
   left: 0;
}

.carousel-text {
   margin-left: 30%;
}

.carousel-item {
   background: url(../img/onbrd-slider-01.png) left center no-repeat;
}
/* .lc-sidebar {
   position: relative;
}
.lc-sidebar:before {
   position: absolute;
   content: url(../img/svg/lc-rocket-w-ico.svg);
   width: 16px;
   height: 16px;
   background-color: red;
} */

.nav-link-lc-active {
   background: #2780eb;
}

#sidebarMenu .nav-link:hover {
   background: #3d3d3d;
}
.lc-navbar {
   background-color: green;
}


/* .btn-outline-secondary {
   border: 2px solid #00d2a0 !important;
   color: #00d2a0 !important;
}

.btn-outline-secondary:hover {
   border: 2px solid #00d2a0 !important;
   color: #00d2a0 !important;
} */

.user-avatar {
   position: absolute;
   bottom: 0;
   left: 20px;
   
}

.user-title {
   margin-left: 200px;
}

@media (max-width: 576px) {
   .user-avatar {
      height: 96px;
      width: 96px;
      bottom: 24px;
   }

   .user-title {
      margin-left: 100px;
      font-size: 18px;
   }
}

.custom-control-label {
   cursor: pointer;
}

/* Sign-in */
.body-signin {
   background: #111111;
   color: #ffffff;
   display: flex;
   align-items: center;
   height: 100%;
   padding: 30px 0;
}
.form-signin {
   border-radius: 8px;
   width: 100%;
   max-width: 330px;
   padding: 15px;
   margin: auto;
}

.checkbox-form-signin{
   cursor: pointer;
}
/* .form-signin a {
   color: #2780eb;
} */